#cart {
  padding: 1%;
  border: 1px solid red;
}

#cart :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

#cart :nth-child(2) img {
  width: 40px;
  height: 40px;
}

#cart :nth-child(3) div {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart :nth-child(3) div img{
  width: 300px;
}