#cart {
  padding: 1%;
  border: 1px solid red;
}

#cart header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  gap: 10px;
}

#cart header img {
  width: 40px;
  height: 40px;
}

#cart #empty-cart {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart #empty-cart img {
  width: 300px;
}

#cart #cart-products .product-card {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.product-card-btn, .product-card-img, .product-card-title, .product-card-quantity, .product-card-price {
  border: 1px solid red;
  width: 50x;
}
