.cart header {
  align-items: center;
  background-color: var(--bg);
  border: 1px solid gray;
  display: flex;
  height: 63px;
  justify-content: space-between;
  padding: 0 2%;
  position: fixed;
  width: 96%;
  z-index: 1;
}

.cart header img {
  height: 40px;
  width: 40px;
}


.cart header img:hover {
  height: 50px;
  width: 50px;
}

.cart .empty-cart {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  height: calc(100% - 63px);
  justify-content: center;
  overflow: auto;
  position: absolute;
  top: 63px;
  width: 100%;
}

.cart .cart-products {
  align-items: flex-start;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100% - 63px);
  overflow: auto;
  padding-left: 5%;
  padding-top: 40px;
  position: absolute;
  top: 63px;
  width: 100%;
}

.cart .cart-products .cart-products-title {
  display: flex;
  gap: 20px;
}

.cart .cart-products .cart-products-title > img {
  height: 50px;
  width: 50px;
}

.cart .cart-products .product-card {
  align-items: center;
  background-color: var(--cards-bg);
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 50%;
}

.product-card-btn {
  align-items: center;
  display: flex;
  flex-basis: 2%;
  justify-content: center;
}

.product-card-btn button {
  background-color: var(--bg-cards);
  border: none;
}

.product-card-img {
  align-items: center;
  display: flex;
  flex-basis: 10%;
  justify-content: center;
}

.product-card-title {
  align-items: center;
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  text-align: center;
}

.product-card-quantity {
  align-items: center;
  display: flex;
  flex-basis: 20%;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-card-quantity button {
  background-color: var(--bg-cards);
  border: none;
}

.product-card-quantity h3 {
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.product-card-price {
  align-items: center;
  display: flex;
  flex-basis: 20%;
  justify-content: center;
}

.cart-products .total {
  display: flex;
}

.cart-products .total .total-valor {
  align-items: center;
  display: flex;
  gap: 10px;
}

.cart-products .total .total-valor p:first-child {
  font-size: 32px;
  font-weight: 400;
}

.cart-products .total .total-valor p:last-child {
  font-size: 28px;
}
