#detailed-product {
  display: flex;
  flex-direction: column;
}

#detailed-product header {
  align-items: center;
  background-color: var(--bg);
  border: 1px solid gray;
  display: flex;
  height: 63px;
  justify-content: space-between;
  padding: 0 2%;
  position: fixed;
  width: 96%;
  z-index: 1;
}

#detailed-product header img {
  height: 40px;
  margin: 0;
}

#detailed-product header img:hover {
  height: 50px;
  padding: 0 2%;
}

#detailed-product main {
  background-color: var(--bg);
  height: calc(100vh - 63px);
  overflow: auto;
  position: absolute;
  top: 63px;
  width: 100%;
}

#detailed-product main h2 {
  padding-left: 48px;
  padding-right: 48px;
}

#detailed-product main #product-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid red;
}

#detailed-product main #product-data #product-info {
  align-items: center;
  background-color: var(--cards-bg);
  border: 1px solid gray;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  padding-top: 40px;
  height: 500px;
  box-sizing: border-box;
}

#detailed-product main #product-data #product-info img {
  height: auto;
  width: 50%;
}

#detailed-product main #product-data #product-info .add-button {
  background-color: rgb(29, 29, 211);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  margin: 15px;
  width: 60%;
}

#detailed-product main #product-data #product-info #product-info-quantity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

#detailed-product main #product-data #product-info #product-info-quantity .quantity-button {
  border: none;
  background-color: rgba(219, 219, 209, 0);
}

#detailed-product main #product-data #product-info #product-info-quantity img {
  width: 30px;
  height: 30px;
}

#detailed-product main #product-data #product-info #product-info-quantity h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
}

#detailed-product main #product-data #product-details {
  background-color: var(--cards-bg);
  border: 1px solid gray;
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
}

#detailed-product main #product-data #product-details h3 {
  padding-left: 20px;
}

#detailed-product main form {
  border: 1px solid red;
}

#detailed-product main #first-line-form {
  display: flex;
}

#detailed-product #loading {
  background-color: var(--bg);
}
