.detailed-product {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.detailed-product header {
  align-items: center;
  background-color: var(--bg);
  border: 1px solid gray;
  display: flex;
  height: 63px;
  justify-content: space-between;
  padding: 0 2%;
  position: fixed;
  width: 96%;
  z-index: 1;
}

.detailed-product header img {
  height: 40px;
  margin: 0;
}

.product-info .quantity-button > img {
  height: 30px;
  margin: 0;
  padding: 0;
  width: 30px;
}

.detailed-product header img:hover {
  height: 50px;
  padding: 0 2%;
}

/* main */
.detailed-product main {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  position: absolute;
  top: 63px;
  width: 101%;
}

/* product-data */
.detailed-product main .product-data {
  background-color: var(--cards-bg);
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  width: 95%;
}

/* product info */
main .product-data .product-info {
  align-items: center;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}


main .product-data .product-info > img {
  border: 1px solid gray;
  margin-top: 1rem;
}

main .product-data .product-info > h2 {
  margin: 20px 0;
}

main .product-data .product-info .quantity-button {
  background: none;
  border: none;
}

main .product-data .product-info > h3 {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  box-sizing: content-box;
  padding: 15px 20px;
}

main .product-data .product-info .add-button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* product details */
main .product-data .product-details {
  display: flex;
  flex-basis: 80%;
  flex-direction: row;
  height: 400px;
  justify-content: flex-start;
  overflow: scroll;
}

/* rating */

.rating {
  background-color: var(--bg);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding-left: 2.2rem;
  position: absolute;
  top: 590px;
  width: 99%;
  justify-content: center;
}

.rating .first-line-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.rating .first-line-form > input {
  height: 2rem;
  width: 20%;
}

.rating textarea {
  font-size: 1rem;
  height: 6rem;
  margin-bottom: 20px;
  width: 30%;
}
