.detailed-product {
  display: flex;
  flex-direction: column;
}

.detailed-product header {
  align-items: center;
  background-color: var(--bg);
  border: 1px solid gray;
  display: flex;
  height: 63px;
  justify-content: space-between;
  padding: 0 2%;
  position: fixed;
  width: 96%;
  z-index: 1;
}

.detailed-product header img {
  height: 40px;
  margin: 0;
}

.detailed-product header img:hover {
  height: 50px;
  padding: 0 2%;
}

/* main */

.detailed-product main {
  border: 1px solid red;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 63px);
  overflow: auto;
  position: absolute;
  top: 63px;
  width: 100%;
}

/* product info */
main .product-info {
  align-items: center;
  background-color: var(--cards-bg);
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 95%;
}

main .product-info .product-info-quantity {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

main .product-info .product-info-quantity .quantity-button {
  background-color: rgba(219, 219, 209, 0);
  border: none;
}

main .product-info .product-info-quantity h3 {
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0;
  width: 50px;
}

main .product-info .add-button {
  background-color: rgb(29, 29, 211);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  margin: 15px;
  width: 60%;
}

/* product details */
main .product-details {
  border: 1px solid red;
  background-color: var(--cards-bg);
  border: 1px solid gray;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-y: scroll;
  width: 95%;
  border-radius: 10px;
}

.detailed-product main form {
}

.detailed-product main .first-line-form {
  display: flex;
}

.detailed-product .loading {
  background-color: var(--bg);
}
