/* general */

#home {
  display: flex;
  width: 100%;
}

/* aside  */

#home aside {
  border: 1px solid gray;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
}

#home aside #galleries {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#home aside #galleries input {
  margin-right: 5px;
}

/* main header */

#home main {
  flex-basis: 80%;
  width: 100%;
}

#home main header {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 10px 0;
}

#home main header input {
  border-radius: 20px;
  height: 25px;
  width: 85%;
}

#home main header img {
  height: 40px;
}

/* main main */

#cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#cards-container .card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

#cards-container .card:hover {
  border: 3px solid gray;
}

#cards-container .card .card-link {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#cards-container .card .card-link .card-title {
  height: 96px;
}

#cards-container .card .card-price {
  display: flex;
  justify-content: center;
}

#cards-container .card .card-price button {
  margin: 15px;
  background-color: rgb(29, 29, 211);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

main h1 {
  display: flex;
  justify-content: center;
}
