/* general */
:root {

  --bg: rgb(230, 227, 15);

  --cards-bg: rgba(219, 219, 209, 0.829);
}

.home {
  background-color: var(--bg);
  display: flex;
  width: 100vh;
}

/* aside  */
.home aside {
  background-color: var(--bg);
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  position: fixed;
  width: 260px;
}

.home aside .galleries {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.home aside .galleries span:hover {
  font-weight: 400;
}

.home main header input {
  border-radius: 20px;
  height: 25px;
  margin: 15px 0;
  width: 85%;
}

.home aside .galleries input {
  margin-right: 5px;
}

/* main header */
.home main {
  background-color: var(--bg);
  flex-basis: 80%;
  left: 272px;
  position: absolute;
  width: calc(100% - 272px);
}

.home main header {
  align-items: center;
  background-color: var(--bg);
  border: 1px solid gray;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: calc(100% - 272px);
  z-index: 1;
}

.home main header img {
  cursor: pointer;
  height: 40px;
}

.home main header img:hover {
  cursor: pointer;
  height: 50px;
}

.home main header a:last-child {
  align-items: center;
  display: flex;
  gap: -10px;
}

.home header a:last-child > p {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  gap: 10px;
  padding: 7px;
  text-decoration: none;
}

/* cards-container */
.cards-container {
  background-color: var(--bg);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
  position: absolute;
  top: 63px;
}

.cards-container .card {
  background-color: rgba(219, 219, 209, 0.829);
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30%;
}

.cards-container .card:hover {
  border: 3px solid gray;
}

.cards-container .card .card-link {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards-container .card .card-link .card-title {
  height: 96px;
}

.cards-container .card .card-price {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cards-container .card .card-price button {
  background-color: rgb(29, 29, 211);
  border-radius: 10px;
  color: white;
  font-weight: 400;
  height: 40px;
  width: 100px;
}

.cards-container .card .card-price button:hover {
  box-shadow: 1px 1px 1px 1px blue;
}

/* start-container */
.start-container, .product-not-found, .loading {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  height: calc(100vh - 63px);
  justify-content: center;
  position: absolute;
  top: 63px;
  width: 100%;
}
