div {
  border: 1px solid blue;
  display: flex;
  width: 100%;
}

nav {
  border: 1px solid red;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}

main {
  border: 3px solid green;
  flex-basis: 80%;
  width: 100%;

}

main div {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}

main div input {
  border-radius: 20px;
  height: 25px;
  width: 85%;
}

main div img {
  border: 1px solid red;
  height: 40px;
}

main div input + a img {
  border: 1px solid green;
  height: 30px;
}

#card-div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#card-div div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
}

#card-div div img {
  height: auto;
  width: 70%;
}
