#home {
  border: 1px solid blue;
  display: flex;
  width: 100%;
}

#home nav {
  border: 1px solid red;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}

#home main {
  border: 3px solid green;
  flex-basis: 80%;
  width: 100%;
}

#home main div {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}

#home main div input {
  border-radius: 20px;
  height: 25px;
  width: 85%;
}

#home-main div img {
  border: 1px solid red;
  height: 40px;
}

#home-main div input + a img {
  border: 1px solid green;
  height: 30px;
}

#card-div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#card-div div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#card-div div div {
  width: auto;
}

#card-div div img {
  height: auto;
  width: 80%;
}

main h1 {
  display: flex;
  justify-content: center;
}
