.ul-starRated {
  display: flex;
  gap: 5px;
  list-style: none;
}

.ul-starRated .started-icon {
  background-color: var(--bg);
  border: none;
}

.ul-starRated .started-icon div {
  background-image: url('../images/icons8-star-50\ \(1\).png');
  background-size: cover;
  height: 20px;
  padding: 0;
  width: 20px;
}

.ul-starRated .activated ~ .started-icon div {
  background-image: url('../images/icons8-star-50.png');
}

.ul-starRated .started-icon img {
  height: 20px;
  width: 20px;
}
